.About .page-title {
    margin-top: 1rem;
}

.top {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    align-items: center;
    justify-content: center;
}

.top div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    border-radius: 50%;
    border: 10px solid white;
    margin: 0 5vw;
}

.definition {
    background-image: linear-gradient(to right, rgb(89, 180, 255), rgb(107, 228, 188));
    padding: .5rem;
    border-radius: 10px;
    width: fit-content;
}

.definition::before {
    content: '🇧🇷';
    font-size: 1.1rem;
    border-radius: 3px;
    padding: 0px 3px;
    margin-right: 5px;
}

.definition::before {
    background-color: rgb(200, 235, 255);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.abt-me {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abt-me p {
    text-indent: 2rem;
    margin-top: 0;
}

.abt-me p:last-of-type {
    margin-bottom: 0;
}

.box {
    padding: 0 calc(.5rem + 2vw);
    margin-top: 2rem;
    max-width: 500px;
    height: fit-content;
    background-color: rgb(190, 225, 255);
    border-radius: 15px;
    text-align: left;
}

.role span {
    display: inline-block;
    width: max-content;
}

.link-icon {
    position: relative;
    top: 3px;
}

.title {
    border-bottom: 2px rgb(60, 25, 190) solid;
    padding-bottom: .4rem;
    margin: 1rem 0;
    text-align: center;
}

.role {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.row a:hover {
    color: darkcyan;
}

.role:hover .link-icon {
    transform: scale(1.2, 1.2);
}

.row {
    display: flex;
    justify-content: space-between;
}

.second.row {
    padding: .25rem 0 1rem;
    border-bottom: 2px solid rgb(60, 25, 190);
}

.right {
    align-self: center;
    text-align: right;
    min-width: max-content;
    padding-left: 2vw;
    margin-left: auto;
}

@media only screen and (min-width: 600px) {
    .headshot {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        justify-content: space-around;
    }

    .box {
        width: 37vw;
    }

    .skills.box {
        margin-top: 0;
    }

    .abt-me {
        width: 40vw; 
        padding-right: 1rem;
    }
}