.contact-form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    padding: calc(1.6rem + 1vh) 5vw;
    background-color: rgb(200, 220, 255);
}

.form-title {
    text-align: center;
    margin-top: 0;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(1rem + .5vh);
    text-align: left;
}

.input {
    margin-top: .4rem;
    padding: .8rem;
    border: solid 2px rgb(155, 200, 255);
    border-radius: .8rem;
    font-size: 1rem;
}

label {
    font-weight: 600;
    margin-bottom: .4rem;
}

button {
    border: 0;
    border-radius: 1.7rem;
    background-color: #6821ff;
    padding: 1rem 1.6rem;
    margin-left: 1rem;
    min-width: max-content;
    font-size: 1.2rem;
    font-weight: 800;
    color: #ddd6ff;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05, 1.05);
}

.bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.response {
    margin: 0 auto;
    padding: .2rem .4rem;
}

.note {
    margin-bottom: 1.5rem;
}

textarea {
    resize: none;
    font-family: 'Arial';
    font-size: .85rem;
}
