.top {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    align-items: center;
    justify-content: center;
}

.Headshot {
    border-radius: 50%;
    border: 10px solid white;
    margin-right: 5vw;
}

.definition {
    background-image: linear-gradient(to right, rgb(89, 180, 255), rgb(107, 228, 188));
    padding: .5rem;
    border-radius: 10px;
    width: fit-content;
}

.definition::before {
    content: '🇧🇷';
    font-size: 1.1rem;
    border-radius: 3px;
    padding: 0px 3px;
    margin-right: 5px;
}

.definition::before {
    background-color: rgb(200, 235, 255);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.abt-me {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abt-me p {
    text-indent: 2rem;
    margin-top: 0;
}

.abt-me p:last-of-type {
    margin-bottom: 0;
}

.box {
    padding: 0 2vw;
    margin-top: 2rem;
    min-width: 385px;
    max-width: 550px;
    height: fit-content;
    background-color: rgb(190, 225, 255);
    border-radius: 15px;
    text-align: left;
}

.skills.box {
    width: min-content;
}

.title {
    border-bottom: 2px rgb(60, 25, 190) solid;
    padding-bottom: .4rem;
    margin: 1rem 0;
    text-align: center;
}

.role {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.row a:hover {
    color: darkcyan;
}

.link-icon {
    margin-left: .25rem;
}

.role:hover .link-icon {
    transform: scale(1.2, 1.2);
}

.row {
    display: flex;
    justify-content: space-between;
}

.second.row {
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(60, 25, 190);
}

.right {
    text-align: right;
    padding-left: 2vw;
}

@media only screen and (min-width: 1000px) {
    .container {
        justify-content: space-between;
    }

    .box {
        width: 35vw;
    }

    .skills.box {
        margin-top: 0;
    }

    .experience.box {
        margin-right: 0;
    }

    .abt-me {
        width: 40%; 
        padding-right: 1rem;
    }

    .experience {
        position: relative;
        bottom: 60px;

    }
}

@media only screen and (min-width: 1220px) {
    .container {
        justify-content: space-around;
    }

    .experience {
        bottom: 0px;
    }
}