.App-footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 210, 150); /* rgb(250, 225, 160); */
    align-items: center;
    justify-content: center;
    padding-bottom: .5rem;
}

.copyright-notice {
    margin: .5rem 0 1rem;
    color: rgb(90, 75, 30);
}