.proj-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 6vw 2.5rem;
    margin-bottom: 50px;
    /* background image taken from https://svgsilh.com/image/1326174.html */
    background-image: url('../assets/cloud.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: fit-content;
    min-width: 400px;
}

.proj-list :last-child > div {
    margin-bottom: 0;
}

.proj-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60%;
    margin-right: 5vw;
}

.proj-title {
    margin: .5rem 1rem;
}

.proj-subheading {
    text-align: left;
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1.15rem;
}

.proj-date {
    margin: 0;
    background-color: powderblue;
    border-radius: 25px;
    padding: .25rem 1rem;
}

.under {
    margin: 0 4vw 0 1.5vw;
    background-color: rgb(174, 232, 218);
    border-radius: 25px;
    padding: .25rem 1rem;
}

.proj-body {
    display: flex;
}

.logo {
    padding: 0 1.5vw;
    width: 15vw;
    height: auto;
    max-width: 150px;
    min-width: 100px;
    align-self: center;
}

.placeholder {
    padding: 1rem calc(1.4rem + 1.5vw);
    width: 10vw;
    max-width: 90px;
    height: auto;
    align-self: center;
}

.proj-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1rem;
    width: min-content;
}

.description {
    margin: 1rem 0rem;
}

.proj-repo {
    display: flex;
    align-items: center;
}

.public {
    background-color: rgb(105, 35, 140);
    border: 1.5px solid rgb(105, 35, 140);
    border-radius: 55%;
}

.public:hover {
    transform: scale(1.2, 1.2);
}

.private {
    width: 27px;
    height: 27px;
}
