.SkillsList {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 410px;
    margin-top: 1.8rem;
    padding: .25rem;
    border-radius: 20px;
    border: rgb(180, 180, 180) solid .5rem;
    background-color: azure;
}

.tabs {
    position: relative;
    display: flex;
}

.tab {
    position: absolute;
    padding: .4rem .6rem .2rem;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    text-align: center;
    width: 78px;
    cursor: pointer;
}

.tab:hover {
    padding-bottom: 2rem;
    animation: tab-up ease-in 100ms forwards;
}

.tab.all:hover {
    animation: none;
    transform: scale(1.1);
}
    
  @keyframes tab-up {
    from {
        bottom: -3.5rem;
    }
    to {
        bottom: -2rem;
    }
  }

.tab.active {
    z-index: 1;
}

.SkillsList .item {
    color: black;
    margin: .2rem;
    padding: .4rem .6rem;
    border-radius: 30px;
}

.all .advanced {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.all .moderate {
    border-radius: 0;
    margin: 0;
}

.all .familiar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}

.tab.all {
    display: flex;
    justify-content: center;
    font-weight: 300;
    width: 1.5rem;
    background-color: rgb(185, 185, 185);
    padding: .15rem .6rem;
    margin: 0 0 .3rem .3rem;
    border-radius: 12px;
    right: 7%;
}

.SkillsList.advanced {
    border-color: salmon;
}

.tab.advanced {
    background-color: salmon;
    left: 7.5%;
}

.SkillsList.moderate {
    border-color: orange;
}

.tab.moderate {
    background-color: orange;
    left: 25%;
}

.SkillsList.familiar {
    border-color: gold;
}

.tab.familiar {
    background-color: gold;
    left: 42.5%;
}
