.icon {
    height: 40px;
    width: 40px;
    border: transparent solid 2px;
}

.socials {
    display: flex;
}

.wide {
    justify-content: space-between;
    width: 200px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: rgb(0, 15, 40);
    border-radius: 0 0 5px 5px;
    padding: .5rem .25rem;
    translate: -5px;
}

.socials > a {
    margin: .1rem 0;
}

.github {
    border-radius: 50%;
    fill: white;
    margin: 0 1.5vmin;
}

.github:hover {
    border: white 2px solid;
    fill: black;
    background-color: white;
}

.linkedin {
    border-radius: 15%;
    fill: rgb(60,110,181);
}

.linkedin:hover {
    fill: white;
    background-color: rgb(60,110,181);
}

.email {
    fill: #cb0010;
    border-radius: 25%;
    padding: 0px;
}

.email:hover {
    background-color: white;
    fill: #cb0010;
}
