.App {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin linear infinite 2s alternate;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navigation {
  display: flex;
  flex-direction: row;
}

.Nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
}

.Nav-link:last-child {
  color: #bfbfbf;
  justify-content: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(20deg);
  }
}
