.App {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: linear-gradient(rgba(0, 10, 125, 0.85), transparent);
  background-color:rgb(140, 200, 255);
  padding: 5vh 5vw;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin linear infinite 2s alternate;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(20deg);
  }
}

.hoverable {
  border-radius: .4rem;
  background-color: rgba(172, 124, 255, 0.5);
  padding: .15rem .3rem;
}

.link {
  color: mediumblue;
}

.page-title {
  color: lightcyan;
  margin-top: 0px;
  padding-bottom: 2.5rem;
  background-image: url('./assets/wave.png');
  background-repeat: no-repeat;
  background-size: 103% 55%;
  background-position: 100% 90%;
}